body {
    background: #FFFFFF
}

#banner {
    width: 100%;
   
}

img#banner\.jpg {
    width: 100%;
}

h1 {
    text-align: center
    colo: blue
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}
